@charset "UTF-8";
* {
    margin : 0xp;
    padding : 0px;
}

ul,ol {
    list-style : none;
}

a {
    text-decoration : none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-y: hidden;
}

.logo-img {
    text-align: left;
    float: left;
    position: relative;
    left: 39%;
    width: 100px;
    height: 60px;
}

header {
    background-color: #2C2F33;
    color : #fff;
    padding: 1em;
    text-align: center;
    height: 60px;
    line-height: 25px;
}

nav {
    background-color: #2A3439;
    color:#C0C0C0;
    padding : 1em;
}
nav ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 85px;
}
nav ul li a {
    color : #fff;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}

li a:hover {
    color: #f80d0df8;
}

/* 사이드 CSS 시작 */
.container {
    display: flex;
    flex : 1;
    padding :20px;
    box-sizing: border-box;
}
.container  h2 {
    text-align: center;
}

/* 검색 기능 및 필터 기능 추가 CSS 작업 */
.member-men {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: sans-serif;
}

.member-cat {
    position: relative;
    margin-bottom: 8px;
    float: left;
}

.member-cat > input {
    text-align: left;
    width: 200px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding : 10px 12px;
    font-size: 14px;
}
.member-cat > img {
    position: absolute;
    width: 20px;
    top:10px;
    left: 200px;
    margin: 0;
}
.member-cat > select {
    border : 1px solid #bbb;
    border-radius: 8px;
    outline : none;
    background-color: #fff;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.member-class {
    padding: 2px;
    font-weight: 800;
    color: #030c88;
    font-size: 1.1rem;

}
aside {
    width : 20%;
    background-color: #f4f4f4;
    padding : 15px;
    box-sizing: border-box;
    height: 670px;
}
/* 멤버 정보창 시작 */
.member-info {
    width: 340px;
    height: 550px;
    overflow: scroll;
    overflow-x: hidden;
}

.member-tier {
    border: 1px;
    width: 310px;
    height: 95px;
    border: 5px inset #36c1ae;
    margin-bottom: 5px;
}

.member-tier:hover {
    background-color: #eff3b1;
}

/* 멤버 정보창 끝 */

/* 티어사진 */
.tier {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    float: left;
}
/* 주라인/부라인 */
.line-info > div{
    position: relative;
    top: -86px;
    right: -100px;
    width: 30px;
    height: 30px;
    padding: 5px;
}
/* 티어/닉네임/이름 */
.tier-name,
.nick-name,
.name {
    padding: 4.5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}
/* 사이드 CSS 완료 */

/* 메인 작업 시작 */
main {
    flex : 1;
    background-color: #fff;
    padding : 15px;
    box-sizing: border-box;
    margin-left: 20px;
}
/* 팀 상단 영역 */
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 50px;
}
.display > div {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}
/* 팀 상단 영역 */

/* 메인 영역 팀 대결구도  */
.fight-title {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.fight-tel {
    margin : 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url('/Team-bach/img/lol.png');
    background-repeat: no-repeat;
    background-size: 1400px 550px   ;

}

.fight-tel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* 배경 색상 및 불투명도 설정 */
    z-index: -1; /* 텍스트와 이미지 뒤에 오도록 */
    pointer-events: none; /* 배경이 클릭되지 않도록 */
}

.player-info,
.player img {
    position: relative;
    z-index: 2; /* 텍스트와 이미지가 위에 표시되도록 설정 */
}
/* 메인 영역 팀 대결구도  */

.add-utton {
    background-color:#d7d7de;
    color: #060606;
    border:none;
    margin-left: 9px; 
    border-radius:10px; 
    padding:14px;
    min-height:30px; 
    min-width: 90px;
    font-size: 1.4rem;
    font-weight: 800;
}

button:hover {
    background-color:#262627;
    color : #fff;
    transition: 0.7s;
}

.remove-btn {
    background-color:#d7d7de;
    color: #060606;
    border:none;
    margin-top: 4px;
    margin-left: 9px; 
    border-radius:10px; 
    padding:3px;
    min-height:10px; 
    width: 150px;;
    font-size: 14px;
    font-weight: 800;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-info {
    display: flex;
    flex-direction: column; /* 텍스트가 세로로 쌓이도록 설정 */
    color: white;
    font-weight: 600;
    font-size: 18px; /* 텍스트 크기 */
    line-height: 1.2; /* 텍스트 줄 간격 */
    margin-right: 15px; /* 추가 이미지와 텍스트 사이 간격 조정 */
}

.player img {
    width: 90px; /* 조정 가능 */
    height: 90px; /* 조정 가능 */
    margin-right: 10px;
}

.exter-img {
    margin-left: 60px;
}
.exter-img-right {
    position: relative;
    left: -75px;
}


footer {
    background-color: #333;
    color : #fff;
    text-align: center;
    padding : 10px;
    margin-top : auto;
}
